body {
    font-family: Arial, sans-serif;
}

header, .description , .specifications, .variants, .author, footer {
    margin: 2px;
    padding: 2px;
}

img {
    display: inline-block;
    width: 230px;
    height: auto;
}

.ramka{
    border: 2px solid black;
    padding: 1px;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 18px;
    line-height: 18px;
    position: relative;
}

ul li::before {
    color: black;
    content:"\2022";
    font-size: 45px;
    font-weight: 700;
    left: -20px;
    line-height: 18px;
    position: absolute;
    top: 0;
}
hr{
    color: black;
    background-color: black;
  height: 3px;
    margin-top: 70px;

}
.author{
text-align: center;
    margin-bottom: 50px;
}
.author-heading{
    text-align: center;
}
.author-info p {
    text-align: left;
    margin-left: 20px;
}


button {
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    margin-top: 20px;
}