<web-app>
    <servlet>
        <servlet-name>financialServlet</servlet-name>
        <servlet-class>ru.sberbank.edu.FinancialServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>financialServlet</servlet-name>
        <url-pattern>/finance</url-pattern>
    </servlet-mapping>
</web-app>